header {
  display: flex;
  justify-content:center;
  align-items:center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.0)), url("Photos/research.JPG");
  background-size:cover;
  background-position: 100% 65%;
  color: white;
  font-size: 40px;
  text-align: center;
  border-radius: 8px;
  height: 250px;                  
  overflow: hidden;
  font-weight: bold;
  font-family: monospace;
  position: relative;
  margin-left: 20px;
  margin-right:20px;
}

.header-location {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #fff;
  background: transparent;
  padding: 0%;
  border-radius: 6px;
  font-size: 12px;
  display: flex;
  align-items: right;
  font-weight: normal;
  font-family: 'Times New Roman', Times, serif;
}

.header-location i {
  color: red; /* Red for location icon */
  margin-right: 0.6em;
}

body {
    counter-reset: nugget-counter; /* start the section counter */
}

.nugget {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    counter-increment: nugget-counter; /* increase for each nugget */
    /* width: 94%;
    margin-left: 3%;
    margin-right: 3%; */
}

.nugget-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

.nugget-header h2 {
    margin: 0;
    font-size: 1.5rem;
}

/* prepend automatic numbering */
.nugget-header h2::before {
    content: counter(nugget-counter) ". ";
    font-weight: bold;
    margin-right: 6px;
}

.toggle-btn {
    background: #f0f0f0;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9rem;
}

.nugget-content {
    margin-top: 10px;
}

.nugget-figure {
  margin: 1em 1.5em 1em 0;
  display: block;
  text-align: center;
  border: 1.5px solid #bbb;
  border-radius: 5px;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.nugget-figure-right {
  float: right;
  margin: 0em 0em 0em 0.5em;
  max-width: 100%;
}

.nugget-figure-left {
  float: left;
  margin: 0em 0.5em 0em 0em;
  max-width: 100%;
}

.nugget-figure img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.nugget-caption {
  margin-top: 0em;
  margin-bottom: 0.4em;
  font-size: 0.9em;
  color: #555;
  font-weight: bold;
  text-align: center;
}

/* Clear floats after all content */
.nugget-content::after {
  content: "";
  display: table;
  clear: both;
}

a{
  color: #1976d2;
  text-decoration: none;
  /* font-style: italic; */
}